@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

:root{
  --main-color:blue;
  --main-hover-color:red;
}
html {
  box-sizing: border-box;
}
* {
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #1c1c1c;
  height: 100%;
  margin: 0px;
}
div.title {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.main #content p {
  color: #e6dbae;
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.main{
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  flex-direction: column;

}
img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.main #content .title:hover {
  -webkit-animation: MISSION-HOVER 1.5s infinite;
  animation: MISSION-HOVER 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
