@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

:root{
  --main-color:blue;
  --main-hover-color:red;
}
html {
  box-sizing: border-box;
}
* {
  font-family: "Quicksand", sans-serif;
}
/* style for header section */


/* end of header style */
/* style for about us section */

/* end of about us style */
